@model n01569183PetProject.Models.TeamDto
@{
    ViewBag.Title = "Show";
}

<p>
    <h2>@Model.TeamName Team</h2>
    <a class="text-danger">Delete</a>
</p>



<form class="container" method="post" action="/Team/Save">
    <input type="hidden" value="@Model.TeamId" name="TeamId" />
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="TeamName" class="control-label">Name</label>
                    <input type="text" id="TeamName" class="form-control" name="TeamName" value="@Model.TeamName" />
                </div>
                <div class="col-md-6 form-group">
                    <label for="TeamColor">Color</label>
                    <input id="TeamColor" class="form-control" type="color" name="TeamColor" value="@Model.TeamColor" />
                </div>
            </div>

            <div class="form-group">
                <label for="TeamDescirption">Description</label>
                <textarea id="TeamDescirption" name="TeamDescription" class="form-control" style="min-width: 100%;"></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <label for="WinCondition">Win Condition</label>
            <textarea id="WinCondition" name="TeamWinCondition" class="form-control " rows="6" style="min-width: 100%; min-height: initial;">@Model.TeamWinCondition</textarea>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-primary">Cancel</button>
    </div>
</form>

<h2>@Model.TeamName Team Roles </h2><a href="/Role/New" class="btn btn-info">New Role</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Role</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model.TeamRoles)
        {
            <tr>
                <td>@role.RoleId</td>
                <td><a href="/Role/Show/@role.RoleId">@role.RoleName</a></td>
                <td>@role.RoleDescription</td>
            </tr>
        }
    </tbody>

</table>

