@model n01569183PetProject.Models.TeamDto
@{
    ViewBag.Title = "Show";
}
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/Team/List">Teams</a></li>
    <li><a href="/Team/Show/@Model.TeamId">@Model.TeamName</a></li>
</ol>
<div class="row">
    <div class="col-md-6">
        <h1>Team <span style="color: @Model.TeamColor">@Model.TeamName</span></h1>

    </div>
</div>

<div class="form-group row">
    <div class="col-md-3 col-sm-12">
        @{
            string src;
            if (Model.TeamHasImg)
            {
                src = @Model.TeamId + "." + Model.TeamImgExt;
            }
            else
            {
                src = "default.jpg";
            }
            <img src="~/Content/Images/Teams/@src" style="max-width:100%;" />

        }
    </div>
    <div class="col-md-9 col-sm-12">
        <h2>Description</h2>
        <p>@Model.TeamDescription</p>
        <h2>Win Condition</h2>
        <p>@Model.TeamWinCondition</p>
        <div class="form-group">

            <a href="/Team/Update/@Model.TeamId" class="btn btn-primary">Edit</a>
            <button class="btn btn-danger" type="button" onclick="confirmDeletion()">Delete</button>

        </div>
    </div>

</div>


<h2>@Model.TeamName Team Roles </h2><a href="/Role/New" class="btn btn-info">New Role</a>



<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Role</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model.TeamRoles)
        {
            <tr>
                <td>@role.RoleId</td>
                <td><a href="/Role/Show/@role.RoleId">@role.RoleName</a></td>
                <td>@role.RoleDescription</td>
            </tr>
        }
    </tbody>

</table>

<div id="DeleteConfirmationBox" class="popup hidden">
    <p>Confirm Deletion Box</p>
</div>


<script>
    function confirmDeletion() {
        var xhr = new XMLHttpRequest();
        xhr.open('get','/Team/ConfirmDelete/@Model.TeamId',true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                display('DeleteConfirmationBox', xhr.response);
            }
        }
        xhr.send(null);
    }

    function display(id, content) {
        document.getElementById(id).innerHTML = content;
        document.getElementById(id).classList.remove('hidden');
    }

    function cancel(id) {
        document.getElementById(id).classList.add('hidden');
    }
</script>