@model n01569183PetProject.Models.RoleDto
@{
    ViewBag.Title = "Show";
}


<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/Role/List">Roles</a></li>
    <li><a href="/Role/Show/@Model.RoleId">@Model.RoleName</a></li>
</ol>


<h2>@Model.RoleName</h2>
<h4 style="color: @Model.TeamColor">@Model.TeamName</h4>
<p>@Model.RoleDescription</p>

<div class="row">
    <a href="/Role/Update/@Model.RoleId" class="btn btn-info">Edit</a>
    <button type="button" class="btn btn-danger" onclick="confirmDeletion()">Delete</button>
</div>
<div id="DeleteConfirmationBox" class="popup hidden">
    <p>Confirm Deletion Box</p>
</div>

<script>
    window.onload = function () {
        $('tr').on('click', function () {
            console.log(this, "clicked");
            $('tr').removeClass('info');
            $(this).addClass('info');
            $('#TeamId').val(parseInt($(this).attr('teamid')));

        })
    }
        function confirmDeletion() {
        var xhr = new XMLHttpRequest();
        xhr.open('get','/Role/ConfirmDelete/@Model.RoleId',true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                display('DeleteConfirmationBox', xhr.response);
            }
        }
        xhr.send(null);
    }

    function display(id, content) {
        document.getElementById(id).innerHTML = content;
        document.getElementById(id).classList.remove('hidden');
    }

    function cancel(id) {
        document.getElementById(id).classList.add('hidden');
    }

</script>