@model n01569183PetProject.Models.RoleDto
@{
    ViewBag.Title = "Show";
}


<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/Role/List">Roles</a></li>
    <li><a href="/Role/Show/@Model.RoleId">@Model.RoleName</a></li>
</ol>


<h2>@Model.RoleName</h2>
<h4 style="color: @Model.Team.TeamColor">@Model.Team.TeamName</h4>

<form class="container" method="post" action="/Role/Save" enctype="multipart/form-data">
    <div style="display;none;">
        <input type="hidden" value="@Model.RoleId" name="RoleId" />
        <input type="hidden" value="@Model.Team.TeamId" name="TeamId" id="TeamId" />
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="RoleName" class="control-label">Name</label>
                        <input type="text" id="RoleName" class="form-control" name="RoleName" value="@Model.RoleName" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">

                        <label for="RoleMaxCount" class="control-label">Max Amount of Role</label>
                        <input type="number" min="0" id="RoleMaxCount" class="form-control" name="RoleMaxCount" value="@Model.RoleMaxCount" />
                        <label>

                            <input type="checkbox" id="unlimitedCheckbox" onclick="toggleUnlimited(this)" />
                            <span>Unlimited</span>
                        </label>
                    </div>

                </div>
            </div>


            <div class="form-group">
                <label for="RoleDescirption">Description</label>
                <textarea id="RoleDescirption" name="RoleDescription" class="form-control" style="min-width: 100%;">@Model.RoleDescription</textarea>
            </div>
        </div>
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Team</th>
                        <th>Win Condition</th>
                    </tr>
                </thead>
                <tbody>


                    @foreach (n01569183PetProject.Models.Team Team in Model.Teams)
                    {
                        if (Team.TeamId == Model.Team.TeamId)
                        {
                            <tr class="info" teamid="@Team.TeamId">
                                <td>
                                    <a href="/Team/Show/@Team.TeamId">@Team.TeamName</a>
                                </td>
                                <td>@Team.TeamWinCondition</td>
                            </tr>
                        }
                        else
                        {
                            <tr teamid="@Team.TeamId">
                                <td>
                                    <a href="/Team/Show/@Team.TeamId">@Team.TeamName</a>
                                </td>
                                <td>@Team.TeamWinCondition</td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6 col-sm-12">
            <label>Role Icon</label>
            <input type="file" name="RoleIcon"  />
        </div>
    </div>
    <div class="form-group">
        <button onclick="history.go(-1)" type="button" class="btn btn-default">Return</button>
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>


<div id="DeleteConfirmationBox" class="popup hidden">
    <p>Confirm Deletion Box</p>
</div>


<script>
    window.onload = function () {
        $('tr').on('click', function () {
            console.log(this, "clicked");
            $('tr').removeClass('info');
            $(this).addClass('info');
            $('#TeamId').val(parseInt($(this).attr('teamid')));
        })

         @{
                string isUnlimited = "false";
                if (Model.RoleMaxCount == 0)
                {
                    isUnlimited = "true";
                }

             }
            gid("RoleMaxCount").disabled = @isUnlimited;
            gid("unlimitedCheckbox").checked = @isUnlimited;
    }

    function toggleUnlimited(input) {
        if (input.checked) {
            gid("RoleMaxCount").value = 0;
            gid("RoleMaxCount").disabled = true;
        }
        else {
            gid("RoleMaxCount").disabled = false;
        }
    }

</script>